@charset "utf-8";
@media screen and (min-width: 1200px) {
    .deals .row > div{
        position: relative;
        border-radius: 100px;
        overflow: hidden;
    }
    .d-tet{
        color: #fff;
        line-height: 30px;
        font-size: 30px;
        position: absolute;
    }
    .d1{
        top: 5%;
        width: 60%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .d2{
       bottom: 10%;
        left: 10%;
    }
    .pop  .row > div > div {
        position: relative;
    }
    .pop{
        margin-bottom: 50px;
    }
    .p-tet{
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        /* line-height: 100%; */
        transform: translateY(-10px);
        font-size: 40px;
        color: #fff;
        font-weight: bold;
    }
    .b1 > div{
        height: 600px;
        background: url("../images/h.jpg") no-repeat center/cover;
    }
    .s1 > div:nth-child(1){
        height: 280px;
        margin-bottom: 40px;
        background: url("../images/j.jpg") no-repeat center/cover;
    }
    .s1 > div:nth-child(2){
        height: 280px;
        background: url("../images/l.jpg") no-repeat center/cover;
    }
    .s2 > div:nth-child(1){
        height: 280px;
        margin-bottom:40px;
        background: url("../images/k.jpg") no-repeat center/cover;
    }
    .s2 > div:nth-child(2){
        height: 280px;
        background: url("../images/z.jpg") no-repeat center/cover;
    }

}

@media screen and (min-width: 736px) and (max-width: 1199px){
    .deals .row > div{
        position: relative;
        border-radius: 100px;
        overflow: hidden;
    }
    .d-tet{
        color: #fff;
        line-height: 30px;
        font-size: 30px;
        position: absolute;
    }
    .d1{
        top: 5%;
        width: 60%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .d2{
        bottom: 10%;
        left: 10%;
    }
    .pop  .row > div > div {
        position: relative;
    }
    .pop{
        margin-bottom: 50px;
    }
    .p-tet{
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        /* line-height: 100%; */
        transform: translateY(-10px);
        font-size: 40px;
        color: #fff;
        font-weight: bold;
    }
    .b1 > div{
        height: 450px;
        background: url("../images/h.jpg") no-repeat center/cover;
    }
    .s1 > div:nth-child(1){
        height: 210px;
        margin-bottom: 30px;
        background: url("../images/j.jpg") no-repeat center/cover;
    }
    .s1 > div:nth-child(2){
        height: 210px;
        background: url("../images/l.jpg") no-repeat center/cover;
    }
    .s2 > div:nth-child(1){
        height: 210px;
        margin-bottom:30px;
        background: url("../images/k.jpg") no-repeat center/cover;
    }
    .s2 > div:nth-child(2){
        height: 210px;
        background: url("../images/z.jpg") no-repeat center/cover;
    }

}

@media screen and (max-width: 735px) and (min-width: 300px){
    .deals .row > div{
        position: relative;
        border-radius: 100px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .d-tet{
        color: #fff;
        line-height: 30px;
        font-size: 30px;
        position: absolute;
    }
    .d1{
        top: 5%;
        width: 60%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .t1{
        display: inline-block;
        width: 48%;
    }
    .t1:nth-child(2){
        float: right;
    }
    .d2{
        bottom: 10%;
        left: 10%;
    }
    .pop  .row > div > div {
        position: relative;
    }
    .pop{
        margin-bottom: 50px;
    }
    .p-tet{
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        /* line-height: 100%; */
        transform: translateY(-10px);
        font-size: 35px;
        color: #fff;
        font-weight: bold;
    }
    .b1 > div{
        height: 250px;
        margin-bottom: 30px;
        background: url("../images/h.jpg") no-repeat center/cover;
    }
    .s1 > div:nth-child(1){
        height: 210px;
        margin-bottom: 30px;
        background: url("../images/j.jpg") no-repeat center/cover;
    }
    .s1 > div:nth-child(2){
        height: 210px;
        background: url("../images/l.jpg") no-repeat center/cover;
    }
    .s2 > div:nth-child(1){
        height: 210px;
        margin-bottom:30px;
        background: url("../images/k.jpg") no-repeat center/cover;
    }
    .s2 > div:nth-child(2){
        height: 210px;
        background: url("../images/z.jpg") no-repeat center/cover;
    }
}