@charset "utf-8";

*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
input{
	border: none;
}
a{
	text-decoration: none;
}
@font-face {
	font-family:'blod';
	src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
	font-family:'re';
	
	src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
	font-family:'me';
	
	src: url(../font/Montserrat-Medium.ttf);
}
@media screen and (max-width:375px) {
	#container{
		max-width: 375px;
		padding: 0 37px;
		background:;
		background: rgba(247,247,255,1) ;
		opacity:1;
	}	
	.logo{
		width:100px;
		height:81px;
		padding: 25px;
	}
	.logo img{
		width:87px;
		height:81px;
	}
	.tet{
		font-size:52px;
		font-family:blod;
		font-weight:bold;
		line-height:70px;
		color:rgba(51,49,49,1);
		opacity:1;
	}
	
	.tips{
		font-size:24px;
		font-family:re;
		font-weight:400;
		line-height:32px;
		color:rgba(51,49,49,1);
		opacity:1;
	}
	.pic{
		width: 290px;
		display: block;
		margin: 5px auto;
	}
	.form{
		padding: 11px 25px;
		width:250px;
		height:523px;
		margin: 10px auto 45px;
		background:rgba(255,255,255,1);
		box-shadow:5px 10px 15px rgba(51,49,49,0.4);
		opacity:1;
		border-radius:26px;
	}
	.form span{
		float: left;
		display: inline-block;
		width:25px;
		margin-right: 10px;
		height:25px;
		border:1px solid rgba(51,49,49,1);
		border-radius:5px;
	}
	.form a{
		display: block;
		width:250px;
		height:55px;
		background:rgba(87,238,171,1);
		text-align: center;
		border-radius:11px;
		font-size:24px;
		margin-top: 17px;
		font-family:blod;
		font-weight:bold;
		line-height:55px;
		color:rgba(51,49,49,1);
	}
	.form .title{
		height:53px;
		font-size:40px;
		font-family:blod;
		font-weight:bold;
		margin-bottom: 7px;
		line-height:53px;
		color:rgba(51,49,49,1);
	}
	.tt{
		font-size:14px;
		font-family:re;
		font-weight:400;
		line-height:32px;
		margin-bottom: 15px;
		color:rgba(51,49,49,1);
	}
	.form input{
		width:230px;
		height:40px;
		padding: 0 10px;
		background:rgba(244,244,245,1);
		opacity:1;
		font-size: 16px;
		font-family: re;
		margin-bottom: 15px;
		border-radius:11px;
	}
	.agree{
		height: 25px;
		font-family: re;
		font-size: 16px;
		line-height: 25px;
		color:rgba(51,49,49,1);
	}
	.bo-tips{
		font-size: 14px;
		text-align: center;
		font-family: re;
	}
	.bo-tips p{
		margin-top: 13px;
		display: inline-block;
	}
	.red{
		color:rgba(255,132,128,1);
	}
	
	.bottom{
		padding: 21px 37px;
		position: relative;
		background:rgba(255,253,140,1);
	}
	.b1{
		font-size:18px;
		font-family:blod;
		font-weight:bold;
		line-height:24px;
		color:rgba(51,49,49,1);
		opacity:1;
	}
	.b2{
		
		font-size:16px;
		font-family:re;
		font-weight:400;
		margin: 11px 0;
		line-height:21px;
		color:rgba(51,49,49,1);
		opacity:1;
	}
	.b-i1{
		
		width:15%;
		height:40px;
		padding: 0 10px;
		margin-right: 1%;
		font-family: me;
		color:rgba(112,112,112,1);
		background:rgba(247,247,255,1);
		border-radius:11px;
	}
	.b-i2{
		float: right;
		width:60%;
		height:40px;
		padding: 0 10px;
		color:rgba(112,112,112,1);
		font-family: me;
		background:rgba(247,247,255,1);
		border-radius:11px;
	}
	.bottom button{
		width:302px;
		border: none;
		height:40px;
		margin-top: 10px;
		line-height: 40px;
		color:rgba(247,247,255,1);
		font-family: blod;
		background:rgba(255,132,128,1);
		border-radius:11px;
	}
	.icon{
		text-align: center;
		margin-top: 25px;
	}
	.icon img{
		width: 31px;
		height: 31px;
		margin: 0 10px;
	}
}
@media screen and (min-width:376px) {
	#container{
		padding: 0 81px;
		background:;
		background: rgba(247,247,255,1) ;
		opacity:1;
	}	
	.logo{
		width:100px;
		height:81px;
		padding: 25px;
	}
	.logo img{
		width:87px;
		height:81px;
	}
	.tet{
		height:292px;
		font-weight: blod;
		margin-top: 30px;
		font-size:80px;
		font-family:Montserrat;
		font-weight:bold;
		line-height:106px;
		color:rgba(51,49,49,1);
		opacity:1;
	}
	
	.tips{
		height:63px;
		font-size:24px;
		font-family:Montserrat;
		font-weight:400;
		line-height:32px;
		font-family: re;
		margin-top: 30px;
		color:rgba(51,49,49,1);
		opacity:1;
	}
	.pic{
		width: 420px;
		display: block;
		margin: 5px auto;
	}
	.form{
		padding: 25px 40px;
		
		
		margin-bottom: 92px;
		margin-top: 10px;
		background:rgba(255,255,255,1);
		box-shadow:5px 10px 15px rgba(51,49,49,0.4);
		opacity:1;
		border-radius:26px;
	}
	.form span{
		float: left;
		display: inline-block;
		width:29px;
		margin-right: 10px;
		height:29px;
		border:1px solid rgba(51,49,49,1);
		border-radius:5px;
	}
	.form a{
		display: block;
		width:100%;
		height:64px;
		background:rgba(87,238,171,1);
		text-align: center;
		border-radius:11px;
		font-size:32px;
		margin-top: 17px;
		font-family:blod;
		font-weight:bold;
		line-height:64px;
		color:rgba(51,49,49,1);
	}
	.form .title{
		height:53px;
		font-size:40px;
		font-family:blod;
		font-weight:bold;
		margin-bottom: 7px;
		line-height:53px;
		color:rgba(51,49,49,1);
	}
	.tt{
		
		font-size:24px;
		font-family:re;
		font-weight:400;
		line-height:32px;
		margin-bottom: 15px;
		color:rgba(51,49,49,1);
	}
	.form input{
		width:100%;
		height:55px;
		text-indent: 1em;
		background:rgba(244,244,245,1);
		opacity:1;
		font-size: 18px;
		font-family: re;
		margin-bottom: 15px;
		border-radius:11px;
	}
	.agree{
		height: 26px;
		font-family: re;
		font-size: 18px;
		line-height: 26px;
		color:rgba(51,49,49,1);
	}
	.bo-tips{
		font-size: 15px;
		text-align: center;
		font-family: re;
	}
	.bo-tips p{
		margin-top: 13px;
		display: inline-block;
	}
	.red{
		color:rgba(255,132,128,1);
	}
	
	.bottom{
		min-height: 165px;
		padding: 18px 80px;
		position: relative;
		background:rgba(255,253,140,1);
	}
	.b1{
		height:24px;
		font-size:18px;
		font-family:blod;
		font-weight:bold;
		line-height:24px;
		color:rgba(51,49,49,1);
		opacity:1;
	}
	.b2{
		font-size:16px;
		font-family:re;
		font-weight:400;
		margin: 11px 0;
		line-height:21px;
		color:rgba(51,49,49,1);
		opacity:1;
	}
	.b-i1{
		width:10%x;
		height:40px;
		padding: 0 10px;
		font-family: me;
		color:rgba(112,112,112,1);
		background:rgba(247,247,255,1);
		border-radius:11px;
	}
	.b-i2{
		width:20%;
		height:40px;
		padding: 0 10px;
		margin: 0 13px;
		color:rgba(112,112,112,1);
		font-family: me;
		background:rgba(247,247,255,1);
		border-radius:11px;
	}
	.bottom button{
		width:20%;
		border: none;
		height:40px;
		line-height: 40px;
		color:rgba(247,247,255,1);
		font-family: blod;
		background:rgba(255,132,128,1);
		border-radius:11px;
	}
	.icon{
		text-align: center;
		margin-top: 25px;
	}
	.icon img{
		width: 34px;
		height: 34px;
		margin: 0 20px;
	}
	
}

@media screen and (min-width:769px) {
		
	.pic{
		display: none;
	}
#container{
	min-width: 768px;
	height:900px;
	background:;
	background: url(../img/scooter.svg) rgba(247,247,255,1) no-repeat center 213px/819px ;
	opacity:1;
}	
.logo{
	width:87px;
	height:81px;
	padding: 25px;
	margin-left: 140px;
}
.logo img{
	width:87px;
	height:81px;
}
.tet{
	width:536px;
	height:292px;
	font-weight: blod;
	margin-top: 80px;
	margin-left: 140px;
	font-size:80px;
	font-family:Montserrat;
	font-weight:bold;
	line-height:106px;
	color:rgba(51,49,49,1);
	opacity:1;
}

.tips{
	width:536px;
	height:63px;
	font-size:24px;
	font-family:Montserrat;
	font-weight:400;
	line-height:32px;
	margin-left: 139px;
	font-family: re;
	margin-top: 30px;
	color:rgba(51,49,49,1);
	opacity:1;
}

.form{
	position: absolute;
	top: 218px;
	right: 140px;
	padding: 31px 43px;
	width:449px;
	height:528px;
	background:rgba(255,255,255,1);
	box-shadow:5px 10px 15px rgba(51,49,49,0.4);
	opacity:1;
	border-radius:26px;
}
.form span{
	float: left;
	display: inline-block;
	width:25px;
	margin-right: 10px;
	height:26px;
	border:1px solid rgba(51,49,49,1);
	border-radius:5px;
}
.form a{
	display: block;
	width:452px;
	height:57px;
	background:rgba(87,238,171,1);
	text-align: center;
	border-radius:11px;
	font-size:32px;
	margin-top: 17px;
	font-family:blod;
	font-weight:bold;
	line-height:57px;
	color:rgba(51,49,49,1);
}
.form .title{
	height:53px;
	font-size:40px;
	font-family:blod;
	font-weight:bold;
	margin-bottom: 7px;
	line-height:53px;
	color:rgba(51,49,49,1);
}
.tt{
	height:32px;
	font-size:24px;
	font-family:re;
	font-weight:400;
	line-height:32px;
	margin-bottom: 15px;
	color:rgba(51,49,49,1);
}
.form input{
	width:420px;
	height:55px;
	padding: 0 15px;
	background:rgba(244,244,245,1);
	opacity:1;
	font-size: 18px;
	font-family: re;
	margin-bottom: 15px;
	border-radius:11px;
}
.agree{
	height: 26px;
	font-family: re;
	font-size: 18px;
	line-height: 26px;
	color:rgba(51,49,49,1);
}
.bo-tips{
	font-size: 15px;
	text-align: center;
	font-family: re;
}
.bo-tips p{
	margin-top: 13px;
	display: inline-block;
}
.red{
	color:rgba(255,132,128,1);
}

.bottom{
	height:120px;
	padding: 38px 140px;
	position: relative;
	background:rgba(255,253,140,1);
}
.b1{
	height:24px;
	font-size:18px;
	font-family:blod;
	font-weight:bold;
	line-height:24px;
	color:rgba(51,49,49,1);
	opacity:1;
}
.b2{
	font-size:16px;
	font-family:re;
	font-weight:400;
	margin: 10px 0;
	line-height:21px;
	color:rgba(51,49,49,1);
	opacity:1;
}
.b-i1{
	width:102px;
	height:40px;
	padding: 0 10px;
	font-family: me;
	color:rgba(112,112,112,1);
	background:rgba(247,247,255,1);
	border-radius:11px;
}
.b-i2{
	width:240px;
	height:40px;
	padding: 0 10px;
	margin: 0 18px;
	color:rgba(112,112,112,1);
	font-family: me;
	background:rgba(247,247,255,1);
	border-radius:11px;
}
.bottom button{
	width:200px;
	border: none;
	height:40px;
	line-height: 40px;
	color:rgba(247,247,255,1);
	font-family: blod;
	background:rgba(255,132,128,1);
	border-radius:11px;
}
.icon{
	position: absolute;
	right: 140px;
	top: 75px;
}
.icon img{
	width: 30px;
	height: 30px;
	margin-left: 45px;
}
}
